
<div class="container col-md-6" >
    <h1 style="color:red">Refund Page</h1>
    <form (ngSubmit)="refund()">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">EmailId</label>
        <input type="text"  class="form-control" id ="emailId" name="emailId"  [(ngModel)]= "boo.emailId">   
       </div>  <br/>
       <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Subscription Id</label>
        <input type="text"  class="form-control" id ="bookId" name="bookId" [(ngModel)]= "boo.bookId">   
       </div> <br/>
      
       <button type="Signup" class="btn btn-primary">Login</button>
    </form>
  
  </div>


  
  
    
  