  <h1>Welcome to digitalbook application</h1> 
<!-- <h1 style="text-align:center">My Digital Book Application</h1>
<div >  
  
    <h2 style="text-align: right">  <a [routerLink]="['/signup']">SignUp</a> <br><br> </h2>  
    <h2 style="text-align: right">  <a [routerLink]="['/login']">Login</a> <br><br> </h2> 
    <h2>  <a [routerLink]="['/createbook']">createBook</a> <br><br> </h2> 
    <h2>  <a [routerLink]="['/searchbook']">searchbook</a> <br><br> </h2> 
    <h2>  <a [routerLink]="['/buybook']">buybook</a> <br><br> </h2> 
</div>  -->

<div>
  <a routerLink="createbook">create Book</a> | 
    <a routerLink="buybook">Buy Book</a> |
    <a routerLink="allpurchasedbooks">Purchsed Books</a> |
    <a routerLink="refund">Refund</a> |
    <a routerLink="getallbooks">All Books</a> |
    <a routerLink="searchbook">Search books</a> | 
</div>
