<p>ALL BOOKS</p>
<html lang="en">

<head>

  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

  <table class="table table-striped table-hover" style="background-color:white">

    <thead style="background-color:rgb(255, 127, 159)">

      <td>bookId</td>

    <td>authorName</td>

    <td>authorId</td>

    <td>bookName</td>

    <td>price</td>

    <td>publisher</td>

    <td>publishedDate</td>

    <td>category</td>
    <td>active</td>

    <td></td>

    </thead>

 <tr >

        <td>{{book.bookId}}</td>

   

    <td>{{book.authorName}}</td>

    <td>{{book.authorId}}</td>

    <td>{{book.bookName}}</td>

    <td>{{book.price}}</td>

    <td>{{book.publisher}}</td>

    <td>{{book.publishedDate}}</td>
    <td>{{book.category}}</td>
    <td>{{book.active}}</td>

    <!-- <td><button (click) ='deleteBook(book.id)'>Delete Book</button></td> -->

      </tr>

 

  <br>

  <!-- <button routerLink="/createbook" class='btn btn-dark' > Back </button> -->

</table>

</body>

</html>